absl-py==0.5.0
alembic==1.0.5
aniso8601==4.0.1
appnope==0.1.0
arrow==0.12.1
asn1crypto==0.24.0
astor==0.7.1
atari-py==0.1.7
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
bcrypt==3.1.5
beautifulsoup4==4.7.0
binaryornot==0.4.4
bleach==3.0.2
blinker==1.4
botocore==1.12.57
box2d-py==2.3.8
cached-property==1.5.1
cachetools==3.0.0
causal-impact==1.1.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.5.2
cma==2.6.0
colorama==0.3.9
contextlib2==0.5.5
cookiecutter==1.6.0
cryptography==2.3.1
cycler==0.10.0
Cython==0.29.1
dask==1.0.0
decorator==4.3.0
deepdiff==3.3.0
defusedxml==0.5.0
dm-sonnet==1.26
docutils==0.14
entrypoints==0.2.3
environs==4.0.0
factory-boy==2.11.1
Faker==1.0.1
filelock==3.0.10
flake8==3.5.0
flake8-blind-except==0.1.1
flake8-debugger==3.1.0
flake8-docstrings==1.3.0
flake8-isort==2.5
flake8-polyfill==1.0.2
flake8-quotes==1.0.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Caching==1.4.0
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.1
Flask-Migrate==2.2.1
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
Flask-Webpack==0.1.0
Flask-WTF==0.14.2
flatbuffers==1.10
funcsigs==1.0.2
future==0.17.1
gast==0.2.0
gitdb2==2.0.5
GitPython==2.1.11
glfw==1.7.0
google-auth==1.6.1
google-auth-httplib2==0.0.3
grpcio==1.15.0
gtimer==1.0.0b5
gunicorn==19.9.0
gym==0.10.9
h5py==2.8.0
httplib2==0.12.0
idna==2.7
imageio==2.4.1
importlib-metadata==0.6
ipykernel==5.1.0
ipython==7.0.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.3
joblib==0.12.1
jsonmerge==1.5.2
jsonpickle==1.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kfac==0.1.0
kiwisolver==1.0.1
Lasagne==0.1
lockfile==0.12.2
lz4==2.1.6
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.0
marshmallow==2.16.3
matplotlib==3.0.0
mccabe==0.6.1
mistune==0.8.4
more-itertools==4.3.0
mpi4py==3.0.0
mujoco-py==1.50.1.68
-e git+https://github.com/openai/multiagent-particle-envs.git@6ed7cac026f0eb345d4c20232bafa1dc951c68e7#egg=multiagent
multiworld==0.0.0
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
notebook==5.7.0
numpy==1.15.2
numpy-stl==2.7.0
opencv-python==4.0.0.21
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
path.py==11.5.0
patsy==0.5.1
pep8-naming==0.7.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
plotly==1.9.6
pluggy==0.8.0
poyo==0.4.2
prometheus-client==0.4.2
prompt-toolkit==2.0.6
protobuf==3.6.1
psutil==5.6.6
psycopg2==2.7.5
ptyprocess==0.6.0
py==1.7.0
py-spy==0.1.10
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.19
pydocstyle==3.0.0
pyflakes==1.6.0
pygame==1.9.4
pyglet==1.3.2
Pygments==2.2.0
PyOpenGL==3.1.0
pyOpenSSL==18.0.0
pyparsing==2.2.2
PyPrind==2.11.2
PyQt5==5.11.3
PyQt5-sip==4.19.13
PySocks==1.6.8
pytest==3.7.4
python-dateutil==2.7.3
python-dotenv==0.10.1
python-editor==1.0.3
python-utils==2.3.0
pytz==2018.7
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.2
ray==0.6.1
redis==3.0.1
requests==2.20.0
-e git+https://github.com/rlworkgroup/garage.git@56cc4a65d956a5c51c73005066dcc04f3ed1b003#egg=rlgarage
-e git+https://github.com/rll/rllab.git@b3a28992eca103cab3cb58363dd7a4bb07f250a0#egg=rllab
rsa==3.4.2
ruamel.yaml==0.15.46
s3transfer==0.1.13
scikit-image==0.14.1
scikit-learn==0.20.1
scipy==1.1.0
seaborn==0.8.1
semantic-version==2.6.0
Send2Trash==1.5.0
Serializable==0.1.0
setproctitle==1.1.10
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
smmap2==2.0.5
snowballstemmer==1.2.1
soupsieve==1.6.2
-e git+https://github.com/openai/spinningup.git@f67828a41e98053355e9c491dfd1de99699aa173#egg=spinup
SQLAlchemy==1.2.11
statsmodels==0.9.0
tensorboard==1.12.0
tensorflow==1.12.0
tensorflow-probability==0.5.0
termcolor==1.1.0
terminado==0.8.1
testfixtures==6.4.1
testpath==0.4.2
text-unidecode==1.2
Theano==1.0.3
toolz==0.9.0
torch==1.0.0
torchvision==0.2.1
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.24.1
waitress==1.1.0
wcwidth==0.1.7
webargs==4.1.2
webencodings==0.5.1
WebOb==1.8.5
WebTest==2.0.30
Werkzeug==0.14.1
whichcraft==0.5.2
widgetsnbextension==3.4.2
WTForms==2.2.1
